
.blank-page-container {
    background: url("../../../assets/images/mobile\ menu\ bg\ 2.jpg");
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    position: relative;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
  }

  
.blank-page-container:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #6f5435;
    opacity: 45%;
    z-index: -1;
  }